<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>

</head>

<body>
	<form method="post" action="/jsontoexcel" enctype="multipart/form-data">
		FileName:<input type="text" name="filename"><br><br>
		Upload Json files:<input type="file" name="data" multiple><br><br>
		<input type="submit" value="Upload">
	</form>
</body>

</html>
